body{
  font-family: verdana,sans;
}

/* header */
#header{
  background-color: #aaa;
  color:#fff;
}

#stage{
  background-color: #fff;
}
#header ul.navigation{
  position:absolute;
  right: 5px;
  top: 67px;
  list-style:none;
/*  background-color: #EEE4CF;*/
  margin: 0;
}
#header ul.navigation li{
  display:inline;
  padding: 0 5px;
  margin: 0;
/*  border-right: 2px solid #eee;*/
  font-size: 18px;
}
#header ul.navigation li a{
  text-decoration: none;
  color: #007799;
}
#header ul.navigation li a:hover{
  color: #fff;
}

#header #surface_header {
  position:absolute;
  left:400px;
  top:5px;
}

#header #surface_header #new_surface_form {
  position: fixed;
  right: 20px;
  top: 5px;
  width: 400px;
}

#header #surface_header #new_surface_form .buttons {
  margin-top:-24px;
  
}
/* sticky */
.sticky{
    width: 114px;
    height:95px;
    border-top:   1px solid #ccc;
    border-left:   1px solid #ccc;
    border-right:   1px solid #333;
    border-bottom:   1px solid #333;
    padding-bottom: 12px;
    margin-bottom:   20px;
    background-color:#FFFF99; 
    font-size:10px;
}

.sticky .header {
  border-bottom: 1px solid #333;
  padding: 1px;
  position: relative;
}

.sticky .header .delete_link{
  position: absolute;
  right: 5px;
  margin-left: 105px;
  font-weight: bold;
  text-decoration:none;
}


.sticky .body{ 
  margin: 5px;
}

/* footer */
#footer{
  font-size: 10px;
  background-color: #eee;
  color:#aaa;
}
