-form_for :sticky do |f|
  =f.submit "new sticky"


-@stickies.each do  |sticky|
  .sticky{"data-update-url" => sticky_url(sticky, :format => :json), :style => "left: #{sticky.x}px; top: #{sticky.y}px;"}
    .header
      =link_to "x", sticky_path(sticky), :class => 'delete_sticky_link', :id => "delete_sticky_#{sticky.id}", :method => :delete
    .body
      .editable=sticky.content
    .footer


=javascript_include_tag "stickies"


