-form_for :sticky do |f|
  =f.submit "new sticky"

%script
  var sticky;
  var build_sticky = TSP.get().builders.sticky;
  -@stickies.each do |sticky|
    ==build_sticky({left:#{sticky.left}, top:#{sticky.top}, content:'#{h sticky.content}', update_url:'#{sticky_url(sticky)}'}).place_on('#stage');

=javascript_include_tag "stickies"
